body {
    display: inline;
    margin: 0;
}

header {
    text-align: left;
    background-color: #696868;    
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
}

h1 {
    margin: 5px;
}

.logo {
    background-color: white;
    border-radius: 50%;
    padding: 15px 10px;
    margin: 5px;
}

.profile-image {
    background-color: white;
    border-radius: 50%;
    padding: 20px 10px;
    margin: 5px;
    margin-left: 20px;
}

h2 {
    margin: 0px;
}

nav {
    text-align: center;
}

main {
    background-color: #b1b1b1;
    padding: 10px;
    text-align: left;
    padding: 20px 100px;
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 20px;
    justify-content: space-around;
    border-bottom: solid grey 1px;

}
footer {
    padding: 10px;
    background-color: #888585;
    text-align: center;
}
